.contaner {
	width:940px;
	margin: 0 auto;
}

#header {
	position: absolute;
	left: 0;
	right:0;
	width:100%;
	padding: 20px 0;
	background-color:#4F444C;
	opacity:0.8;
	 position: fixed;

}

ol, ul {
	list-style: none;
}

.logo {
	float: left;
}

.nav {
	float: right;

}
a, a:hover {text-decoration:none;}
.clearfix:before,
.clearfix:after,
{
	content:" ";
	display: table;
}
.clearfix:after{
	clear:both;
}

.nav a {
	outline:none;
	text-decoration: none;
	font-size:16px;
	color:#fff;
	text-transform:uppercase;
	text-shadow: 1px 1px 2px black;
}

.nav li {
	float:left;
	margin-right:40px;

}

.nav a:hover {
	color:#868181;
}

.nav li:last-child {
	margin-right:0px;
}


#home {
	height: 750px;
	background:#222 url(../img/fon.jpg) no-repeat;
	padding-top:270px;
	text-align:center;
	color:#FE8282;
	
}

#home h1 {
    font:58px Arial,sans-serif;
    text-transform:uppercase;
    text-shadow: 3px 3px 3px #2D3444;

}

.box {
	padding: 120px 0;
}

#servis {
	height: 750px;
	text-align:center;
	background:#222 url(../img/fon2.jpg) no-repeat;
}
h2.title {
	font:bold 40px/40px Arial, sans-serif;
	color:#FE8282;
	 text-shadow: 3px 3px 3px #2D3444;
	 text-transform:uppercase;
}

h5.title {
	font: bold 22px/12px Arial, sans-serif;
	color:#FE8282;
	 text-shadow: 3px 3px 3px #2D3444;
	 text-transform:uppercase;
}

.desc {
	font-size:16px;
	color:#fff;
	text-shadow: 3px 3px 3px #2D3444;
	text-transform:uppercase;
}

.serises-item p {
	font-size:16px;
	color:#fff;
	text-shadow: 1px 1px 1px #2D3444;

}

.serises-item {
	float:left;
    width: 29%;
	padding-top: 150px;
	padding-left: 33px;
}

.iconjs {
	background: url(../img/iconjs.svg) no-repeat center top;
}

.iconcpp {
	background: url(../img/iconcpp.svg) no-repeat center top;
}

.iconphp {
	background: url(../img/iconphp.svg) no-repeat center top;
}

.iconjs:hover, .iconcpp:hover, .iconphp:hover {
	background: url(../img/pris.svg) no-repeat center top;
	 transition: all .5s ease;
}


.srvises-wrap {
	padding-top:80px;
}
.title {
	margin-bottom: 10px;
}

/*.serises-item:hover {
	border-style: solid;
	border-color:#fff;
	border-width:5px;
	border-radius: 15px

} */

#liter {
	height: 750px;
	text-align:center;
	background:#222 url(../img/fon3.jpg) no-repeat;

}
.liter-item {
	width:31%;
	margin-right:3.5%;
	float:left;
}

.liter-item:nth-child(3n) {
     margin-right:0;
} 

.l-item-footer {
	padding:0px 20px 20px 20px;
}
.l-item-footer span {
	color:#fff;
	text-shadow: 1px 1px 1px #2D3444;
}

#calenar {
	height: 750px;
	text-align:center;
	background:#222 url(../img/fon4.jpg) no-repeat;
}

.calendar-txt {
	width:35%;
	
}

.calendar-img {
	width:30%;

}

.left {float:left;}
.right {float:right;}
.text-left {text-align:left;}
.text-right {text-align:right;}

.calendar-txt {
	width:35%;
	font-size:16px;
	line-height:24px;
	color:#fff;
	text-shadow: 1px 1px 1px #2D3444;
}
.calendar-img {
	-webkit-border-radius: 100% 100% 100% 100%;
	   -moz-border-radius: 100% 100% 100% 100%;
	     -o-border-radius: 100% 100% 100% 100%;
	        border-radius: 100% 100% 100% 100%;
	background-color:#6D656D;
	width: 200px;
	height: 200px;
	margin-top: 35px;
    margin-left: 35px;
	opacity:.7;
}
.calendar-img img {
	margin-top: 35px;
	color:#fff;
	text-shadow: 1px 1px 1px #2D3444;
}

.liter-item:last-child h5 {
	font-size: 19px;
    margin-top: 36px;
}

.about-text {
	width:35%;
	}

.about-img {
	width:30%;
	
}

.top-txt{
	margin-top: 267px;
}

#example {
	height: 750px;
	text-align:center;
	background:#222 url(../img/fon5.jpg) no-repeat;
}

.primer {
	width: 800px;
    height: 700px;
	border-radius:5px;
	border: #fff 2px solid;
	margin:0 auto;
}

.block, .block2 {
	height:50px;
	 background: #CD5C5C;
     color: #FFF;
     cursor: pointer;
     padding-top: 1px;
     padding-bottom: 20px;
}

.block:hover,
.block2:hover
  {
	 height:50px;
	 background: #228B22;
     color: #FFF;
     cursor:pointer;
     padding-top: 1px;
     padding-bottom: 20px;
}

.t-st1 {
     transition: 5s;

}

.t-st2:hover {
	 transition: 5s;
}

.block3 {
	background:#fff;
	height:50px;
	width:75%;
     color: #000FFF;
     cursor: pointer;
     padding-top: 1px;
     padding-bottom: 20px;
      margin:0 auto;
}

.block3:hover {
	background:#fff;
	height:50px;
		width:100%;
     color: #000FFF;
     cursor: pointer;
     padding-top: 1px;
     padding-bottom: 20px;
     margin:0 auto;
}

.t3 {
	transition-property:all;
	    transition-duration: 5s;
}

.block4 {
	background:#FF00FF;
	height:50px;
	width:75%;
     color: #000;
     cursor: pointer;
     padding-top: 1px;
     padding-bottom: 20px;
      margin:0 auto;
}

.block4:hover {
	background: #000FFF;
	height:50px;
	width:100%;
     color: #000;
     cursor: pointer;
     padding-top: 1px;
     padding-bottom: 20px;
      margin:0 auto;
}

.t4 {
	    transition-delay: 1s;
	    transition-duration: 3s;
	    
}

.block5 {
	background:#7A67EE;
	height:50px;
	width:75%;
     color: #000;
     cursor: pointer;
     padding-top: 1px;
     padding-bottom: 20px;
     
}

.block5:hover {
	background: #7A67EE;
	height:50px;
	width:100%;
     color: #000;
     cursor: pointer;
     padding-top: 1px;
     padding-bottom: 20px;
   
}

.t5 {
	    transition-timing-function: cubic-bezier(.1, .9, .9, 1.5);
	    transition-duration: 3s; 
	    
}